.main .ajib {
  width: 100%;
  height: 250px;
  background-image: url(../../media/images/footer/recipe-baner-1.png);
  background-position: center center;
  background-attachment: fixed;
}
.main .ajib div {
  width: 100%;
  height: 120px;
  background-color: lightgray;
}
.main .majale {
  width: 100%;
  height: 120px;
  padding-right: 250px;
}
.main .majale h2 {
  color: red;
  line-height: 120px;
}
