* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: golestan;
}
@font-face {
  font-family: golestan;
  src: url(../../media/fonts/IRANSansWeb_Medium.woff2);
}

p.bold {
  font-weight: bolder;
  font-size: 17px;
}
p {
  color: rgb(139, 137, 137);
  line-height: 40px;
}
